AuthName "SPI Member area"
AuthType basic
Auth_PG_host localhost
Auth_PG_port 5432
Auth_PG_user www-data
Auth_PG_database spiapp
Auth_PG_pwd_table members
Auth_PG_uid_field email
Auth_PG_pwd_field password
Auth_PG_pwd_whereclause " AND iscontrib"
<LIMIT GET POST>
	require valid-user
</LIMIT>

